workflows/AI Notification Agent.json
{
  "name": "AI Notification Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 00 10 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-192, 16],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=-23.5505&longitude=-46.6333&hourly=temperature_2m,weathercode&timezone=auto&forecast_days=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [16, 16],
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "email_usuario",
              "value": "SEU_EMAIL@EXEMPLO.COM",
              "type": "string"
            },
            {
              "name": "id_usuario",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 16],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $node[\"Edit Fields\"].json.id_usuario }}",
        "databaseName": "SEU_BANCO_DE_DADOS"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [560, 240],
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [368, 240],
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Data de hoje: {{ $now.format('dd/mm/yyyy') }}\nDados meteorológicos por hora: {{ $node[\"HTTP Request\"].json.hourly }}",
        "options": {
          "systemMessage": "=SUA_MENSAGEM"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [464, 16],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "SEU_EMAIL_REMETENTE@EXEMPLO.COM",
        "fromName": "SEU_NOME",
        "toEmail": "EMAIL_DESTINATARIO@EXEMPLO.COM",
        "subject": "Sua Previsão do Tempo Diária para Economia de Consumo Energético",
        "contentType": "text/html",
        "contentValue": "={{ $json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [816, 16],
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SEU_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-176, -208],
      "name": "Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send an email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}